<mat-sidenav-container class="dashboard-container">
	<!-- Drawer (Mobile Only) -->
	<mat-sidenav mode="side" #drawer class="drawer" *ngIf="isMobile">
		<app-filter-form *ngIf="wells.length" [wells]="wells" [isMobile]="isMobile"></app-filter-form>
	</mat-sidenav>

	<!-- Main Content -->
	<mat-sidenav-content class="dashboard-content-container">
		<!-- Top Toolbar -->
		<mat-toolbar color="primary">
			<!-- Menu button only on mobile -->
			<button *ngIf="isMobile" mat-icon-button (click)="toggleDrawer()">
				<mat-icon>menu</mat-icon>
			</button>

			<span>Dashboard</span>

			<!-- Inline filter form on desktop -->
			<div class="filter-inline" *ngIf="!isMobile && wells.length">
				<app-filter-form [wells]="wells" [isMobile]="isMobile"></app-filter-form>
			</div>
		</mat-toolbar>

		<!-- Widgets Container -->
		<div class="widgets">
			<div class="map-row">
				<app-leaflet-map [wells]="wells" class="widget"></app-leaflet-map>
			</div>

			<div class="row">
				<app-chart-widget class="widget overflow-hidden"></app-chart-widget>
				<app-table-widget class="widget"></app-table-widget>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
