<mat-sidenav-container class="dashboard-container">
	<!-- Drawer -->
	<mat-sidenav mode="side" #drawer class="drawer">
		<app-filter-drawer *ngIf="wells.length" [wells]="wells"></app-filter-drawer>
	</mat-sidenav>
	<!-- Main Content -->
	<mat-sidenav-content class="dashboard-content-container">
		<!-- Top Bar with Toggle -->
		<mat-toolbar color="primary">
			<button mat-icon-button (click)="drawer.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<span>Oil & Gas Dashboard</span>
		</mat-toolbar>

		<!-- Widgets Container -->
		<div class="widgets">
			<div class="map-row">
				<app-leaflet-map [wells]="wells" class="widget"></app-leaflet-map>
			</div>

			<div class="row">
				<app-chart-widget class="widget overflow-hidden"></app-chart-widget>
				<app-table-widget class="widget"></app-table-widget>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
