<mat-sidenav-container class="dashboard-container">
    <!-- Drawer -->
    <mat-sidenav
      mode="side"
      #drawer
      class="drawer"
    >
      <app-filter-drawer (dataFetched)="onDataFetched($event)"></app-filter-drawer>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content class="dashboard-content-container">
      <!-- Top Bar with Toggle -->
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Oil & Gas Dashboard</span>
      </mat-toolbar>
  
      <!-- Widgets Container -->
      <div class="widgets">
        <div class="map-row">
            <!-- <app-map-widget [wells]="wellLocations"></app-map-widget> -->
            <app-leaflet-map *ngIf="wellLocations.length" [wells]="wellLocations"></app-leaflet-map>
          </div>
  
        <div class="row">
          <div class="widget">
            <app-chart-widget [data]="productionData"></app-chart-widget>
          </div>
          <div class="widget">
            <app-table-widget [data]="productionData"></app-table-widget>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  